message index

<div>
  <div>No<%= @tweet.id %> </div>
  <div>ルーム名：<%= @tweet.title %></div>
  <div>送信先：<%= @destination %> さん</div>
</div>

<%= render partial: '/shared/message', collection: @messages %>

<%= form_with model: @message, url: tweet_room_messages_path(@room.tweet_id, @room.id), local:true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "送信" %>
<% end %>

<%= link_to 'このトークルームを削除する', tweet_room_path(@tweet.id, @room.id), method: :delete, data: { confirm: 'このトークルームを削除しても良いですか?' }, class: "#" %> 

