編集画面
<%= form_with model: @tweet, id: "form", local: true do |f| %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_area :title, id:"title"%>
  </div>

  <div class="field">
    <%= f.label :text, "投稿文" %><br />
    <%= f.text_area :text, id:"text"%>
  </div>

  <div class="field">
    <%= f.label :prefecture_id, "提供場所（都道府県)" %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture, :prompt => "都道府県を選択" %>
  </div>

  <div class="field">
    <%= f.label :city_id, "提供場所（市町村)" %>
    <div id="city_select">
      <%= f.text_area :city_id, id:"text"%>
    </div>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image, id:"image"%>
  </div>

  <div class="actions">
    <%= f.submit "投稿" %>
  </div>


<% end %>