<div class="c-body-container">

  <header>
  <%= render partial: "/shared/header" %>
  </header>
  
  <main>
    <section class="c-section p-section__top-img">
      <p>薪の掲示板</p>
    </section>

    <section class="c-section p-section__search-form">
      <%= render partial: "/shared/search_form", locals: { search: @search } %>
    </section>

    <%= link_to image_tag('new_btn'),new_tweet_path, class: "p-new-btn" %>

    <section class="c-section p-section__tweets-list">
      <div class="p-search-title"><%= @list_title %></div>

      <%= render partial: "/shared/tweet", collection: @tweets %>

      <%= paginate @tweets %>
    </section>
  </main>

  <%# <footer>
  </footer> %>

</div>

