<%= render partial: "/shared/header" %>


<div class="p-tweet-show__container">
  <div class="p-tweet-show__title-section">
    <%= @tweet.title %>
  </div>
  <div class="p-tweet-show__text-section">
    <%= @tweet.text %>
  </div>
  <div class="p-tweet-show__image-section">
    <%= image_tag @tweet.image.variant(resize: '500x700') %>
  </div>

  <div class="p-tweet-show__btn-section">
    <% if user_signed_in? %>
      <% if current_user.id == @tweet.user_id %>
        <div class="p-tweet-show__btn p-tweet-show__edit-btn">
          <%= link_to "編集する", edit_tweet_path(@tweet.id) %>
        </div>
        <div class="p-tweet-show__btn p-tweet-show__delete-btn">
          <%= link_to "削除する", tweet_path(@tweet.id), method: :DELETE, data: { confirm: 'この投稿を削除しても良いですか?' } %>
        </div>
      <% else %>
        <div class="p-tweet-show__btn p-tweet-show__message-btn">
          <%= link_to "投稿者と連絡をとる", new_tweet_room_path(@tweet.id) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<table class="p-show__table">
		<tr>
			<th>投稿No</th>
			<td><%= @tweet.id %></td>
		</tr>
		<tr>
			<th>投稿者</th>
			<td><%= link_to @tweet.user.username,  user_list_tweet_path(@tweet.user_id), class: "tweet-username" %></td>
		</tr>
		<tr>
			<th>投稿日</th>
			<td><%= @tweet.created_at.strftime('%Y/%m/%d') %></td>
		</tr>
		<tr>
			<th>引き渡し場所</th>
			<td>
        <%= link_to @tweet.prefecture.prefecture, prefecture_list_tweet_path(@tweet.prefecture_id), class: "place" %>
        <%= link_to @tweet.city.city, city_list_tweet_path(@tweet.city_id), class: "place" %>
      </td>
		</tr>
		<tr>
			<th>ハッシュタグ</th>
			<td>
        <%@tweet.tags.each do |tag| %>
            #<%= link_to "#{tag.name}", tag_list_tweet_path(tag.id), class: "tag" %>
        <%end%>
      </td>
		</tr>
</table>








