投稿内容詳細画面
<div>
  <div>
    <%= @tweet.title %>
  </div>
  <div>
    投稿No：<%= @tweet.id %>
  </div>
  <div>
    <%= @tweet.text %>
  </div>
  <div>
    <%= image_tag @tweet.image %>
  </div>
</div>

<% if user_signed_in? %>
  <% if current_user.id == @tweet.user_id %>
    <%= link_to "編集する", edit_tweet_path(@tweet.id) %>
    <%= link_to "削除する", tweet_path(@tweet.id), method: :DELETE, data: { confirm: 'この投稿を削除しても良いですか?' }, class: "#" %>
  <% else %>
    <%= link_to "投稿者と連絡をとる", new_tweet_room_path(@tweet.id) %>
  <% end %>
<% end %>


<table>
	<tbody>
		<tr>
			<td>投稿No</td>
			<td><%= @tweet.id %></td>
		</tr>
		<tr>
			<td>投稿者</td>
			<td><%= link_to @tweet.user.username,  user_tweet_list_user_path(@tweet.user_id) %></td>
		</tr>
		<tr>
			<td>投稿日</td>
			<td><%= @tweet.created_at.strftime('%Y/%m/%d') %></td>
		</tr>
		<tr>
			<td>引き渡し場所</td>
			<td>
        <%= link_to @tweet.prefecture.prefecture, prefecture_list_tweet_path(@tweet.prefecture_id) %>
        <%= link_to @tweet.city.city, city_list_tweet_path(@tweet.city_id) %>
      </td>
		</tr>
		<tr>
			<td>ハッシュタグ</td>
			<td>
        <%@tweet.tags.each do |tag| %>
            #<%= link_to tag.name, tag_list_tweet_path(tag.id) %>
        <%end%>
      </td>
		</tr>
	</tbody>
</table>








