<div class="p-user-show-body-container">

  <%= render partial: "/shared/header" %>

  <section class="p-user-room-list">
    <h1>参加中のメッセージルーム</h1>
    <div class="p-user-room__container">
      <% if @user_tweet_rooms.present? %>
        <%= render partial: "shared/room", collection: @user_tweet_rooms %>
      <% else %>
        <P class="p-user-room__no-message">参加中のメッセージルームはありません</p>
      <% end %>
    </div>
  </section>

  <section class="c-section p-section__tweets-list">
    <h1 class=c-form-title><%= current_user.username %>さんの投稿一覧</h1>
    <% if @tweets.present? %>
      <p class="p-user-room-tweet-list-caution">提供が済んだ投稿は削除しましょう。</p>
      <%= render partial: "shared/tweet", collection: @tweets %>
    <% else %>
      <p class="p-user-room-tweet-list__no-message"><%= current_user.username %>さんが投稿した記事はありません</P>
    <% end %>
  </section>

  <footer>
  </footer>
</div>


