<%= form_with model: search, url: search_tweets_path, method: :get, local: true do |f| %>
  
  <div class="field">
    <%= f.label :prefecture_id, "提供場所（都道府県)" %>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :prefecture, {include_blank: "指定なし"}, {id: "prefecture-id"} %>
  </div>

  <div class="field">
    <%= f.label :city_id, "提供場所（市区町村)" %> 
    <%= f.collection_select :city_id, City.all, :id, :city, {include_blank: "指定なし"}, {id: "city-id"}%>
  </div>

  <div class="tag-field", id='tag-field'>
    <%= f.label :name, "タグ" %>
    <%= f.text_field :name, class:"input-tag" %>
  </div>
  
  <%= f.submit '検索' %>
<% end %>