<div>
  <div>
    <%= link_to image_tag(tweet.image),tweet_path(tweet.id) %>
  </div>
  <div>
    <%= link_to tweet.title, tweet_path(tweet.id) %>
  </div>
  <div>
    投稿No<%= tweet.id %>
  </div>
  <div>
    投稿者：<%= tweet.user.username %>
  </div>
  <div>
    投稿日<%= tweet.created_at.strftime('%Y/%m/%d') %>
  </div>
  <div>
    <%= link_to tweet.prefecture.prefecture, prefecture_list_tweet_path(tweet.prefecture_id) %>
    <%= link_to tweet.city.city, city_list_tweet_path(tweet.city_id) %>
  </div>
  <div>
    <%tweet.tags.each do |tag| %>
    #<%= link_to tag.name, tag_list_tweet_path(tag.id) %>
    <%end%>
  </div>
</div>
