<%= render partial: "/shared/header" %>

<div class="c-devise-form__container">

  <h1>ユーザーログイン</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="c-devise-form__error-space">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="c-devise-form__section">
      <div class="c-devise-form__title">
        <%= f.label :email, "メールアドレス" %><br />
      </div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "c-devise-form__input" %>
    </div>

    <div class="c-devise-form__section">
      <div class="c-devise-form__title">
        <%= f.label :password, "パスワード" %><br />
      </div>
      <%= f.password_field :password, autocomplete: "current-password", class: "c-devise-form__input" %>
    </div>

    <div class="c-devise-form__btn-section">
      <%= f.submit "ログイン", class: "c-devise-form__btn" %>
    </div>
  <% end %>

  <%# <%= render "devise/shared/links" %> 

</div>

