<!DOCTYPE html>
<html>
  <head>
    <title>Haizai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= link_to "トップページ", root_path %>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %></li>
        <li><%= link_to current_user.username, "/users/#{current_user.id} " %></li>
      <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      <% end %>
    </ul>

  <body>    
    <%= yield %>
  </body>
</html>
